/* Tipografía */
@font-face {
  font-family: "FuturaPT";
  src: url("./assets/fonts/FuturaPT-LightObl.woff2") format("woff2");
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #141414;
  --primarioClaro: #c4c4c4;
  --primarioFuerte: #767676;
  --secundario: #ff3434;
  --secundarioClaro: #ff7878;
  --secundarioFuerte: #e00000;
  --brand-uno-1: #ffdc84;
  --brand-uno-2: #ffeab4;
  --brand-uno-3: #ffc01e;
  --brand-dos-1: #d6b793;
  --brand-dos-2: #e3d1bb;
  --brand-dos-3: #ba8547;
  --blancoClaro: #f5f5f5;
  --blanco: #ffffff;
  /* Intención de los colores */
  --heading-descripcion-color: var(--primario);
  --textosColor: var(--primario);
  --headingsColor: var(--primario);
  --backgroundColor: var(--blanco);
  --backgroundColorHeader: var(--secundario);
  /* Tipografía */
  --headingFonts: "FuturaPT";
  --bodyFonts: "FuturaPT";
  font-size: 112.5%; /* Tipografía default de textos en 18px en lugar de 16px, 100% = 16px & 112.5% = 18px */
  --h1: 40px;
  --h2: 33px;
  --h3: 27px;
  --h4: 24px;
  --h5: 19px;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 19px;
}

/****************************************
*    Temp
*****************************************/
/* TODO: Ejercicio aplicar estilos de figma a cajas */

/****************************************
*    Componentes
*****************************************/
body {
  background-color: #ba8547;
  height: 100%;
}
nav {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
nav ul li{
  font-family: FuturaPT;
  font-style: BoldObl;

}
nav ul li a{
text-decoration: none;
font-family: FuturaPT;
font-style: LightObl;

}

}
/****************************************
*    Helpers
*****************************************/
[dots] {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
}
