/* Tipografía */
@font-face {
  font-family: "FuturaLight";
  src: url("./assets/fonts/FuturaPT-LightObl.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaBold";
  src: url("./assets/fonts/FuturaPT-MediumObl.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaBook";
  src: url("./assets/fonts/FuturaPT-Book.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaBoldNormal";
  src: url("./assets/fonts/FuturaPT-Bold.woff2") format("woff2");
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #141414;
  --primarioClaro: #c4c4c4;
  --primarioFuerte: #767676;
  --secundario: #ff3434;
  --secundarioClaro: #ff7878;
  --secundarioFuerte: #e00000;
  --brand-uno-1: #ffdc84;
  --brand-uno-2: #ffeab4;
  --brand-uno-3: #ffc01e;
  --brand-dos-1: #d6b793;
  --brand-dos-2: #e3d1bb;
  --brand-dos-3: #ba8547;
  --blancoClaro: #f5f5f5;
  --blanco: #ffffff;
  /* Intención de los colores */
  --heading-descripcion-color: var(--primario);
  --textosColor: var(--primario);
  --headingsColor: var(--primario);
  --backgroundColor: var(--blanco);
  --backgroundColorHeader: var(--secundario);
  /* Tipografía */
  --headingFonts: "FuturaBold";
  --bodyFonts: "FuturaLight";
  --menuFonts: "FuturaBoldNormal";
  --footerFonts: "FuturaBook";
  --font-size: 112.5%; /* Tipografía default de textos en 18px en lugar de 16px, 100% = 16px & 112.5% = 18px */
  --h1: 40px;
  --h2: 33px;
  --h3: 27px;
  --h4: 24px;
  --h5: 19px;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--bodyFonts);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headingFonts);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  color: var(--primario);
  text-decoration: none;
  transition: color 400ms ease-in-out;
}

a:hover {
  color: var(--secundarioFuerte);
}

/****************************************
*    Componentes
*****************************************/
body {
  background-color: #ffffff;
  height: 100%;
}

.header {
  /* margin & padding aceptan 4 valores 1. top, 2. right, 3. bottom, 4. left */
  padding: 0 0 0 20px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.menu {
  font-family: var(--menuFonts);
  --font-size: 30px;
  font-size: var(--font-size);
}

.menu__item:nth-child(3) {
  font-family: var(--headingFonts);
}

.footer {
  font-family: var(--headingFonts);
  background-color: var(--blancoClaro);
  text-align: center;
}

.footer span {
  font-family: var(--footerFonts);
  color: var(--secundarioFuerte);
  padding-right: 1rem; /* 1rem = 16px */
}

/****************************************
*    Author - custom
*****************************************/
/* .editorial {
  background: var(--brand-dos-2);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} */
.editoria__proyecto {
}
.editoria__imagen {
}
.editoria__titulo {
}
.editorial {
  position: relative;
  display: flex;
}

.categoria {
  position: absolute;
}
.proyecto-texto {
  order: 2;
  flex: 1;
}
.proyecto-imagenes {
  position: relative;
  width: 760px;
  height: 920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.proyecto-imagenes figure {
  margin: 0 0 0 auto;
}

.proyecto-imagenes figure:nth-child(3),
.proyecto-imagenes figure:nth-child(4) {
  margin: 0 auto 0 0;
}
